/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-Jul-2019, 6:54:25 PM
    Author     : Pramod Chandra
*/

root {
    -fx-padding: 5px;
}
.label {
    -fx-text-fill: green;
    -fx-font-family: sans-serif;
}
.button {
    -fx-cursor: hand;
}
.button:hover {
    -fx-background-color: lightblue;
    -fx-fill: black;
    -fx-font-weight: bold;

}
.textField {
    -fx-padding: 7px;
}

#style {
    -fx-padding: 5px;
    -fx-stroke-line-cap: square;
    -fx-border-color: darkblue;
    -fx-border-width: 2px;
    -fx-padding: 5px;
}

.error {
    -fx-text-fill: red;
}